<a href="/promocode">
    promocode
</a>

<a href="/confirmation">
    confirmation
</a>

<a href="/invitation">
    invitation
</a>

<a href="/registration">
    registration
</a>

<a href="/statusing">
    statusing
</a>